@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

input {
    margin: 5px;
}

a {
    text-decoration: none;
}
.navbar {
    display: flex;
    flex-direction: row;
}

.nav-indice{
    margin-left: 20px;
    padding: 10px;
}

.main-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-indice{
    text-decoration: none;
}

.nav-indice:hover {
    color: rgb(255, 0, 212);
}

.logo-site-img{
    width: 100px;
    margin: 20px;
}

.estrutura-principal {
    margin: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.conteudo-postagem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.estrutura-postagem {
    margin: 10px;
}

.box-chamado{
    margin: 20px;
    border: 1px solid;
    box-shadow: 5px 5px 5px 2px #888;
}

.box-chamado:hover {
    background-color: #a2f097;
}

.form-registro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.main-registrar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.main-login {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}