*{
    margin:0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.nav-indice{
    margin-left: 20px;
    padding: 10px;
}

.main-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-indice{
    text-decoration: none;
}

.nav-indice:hover {
    color: rgb(255, 0, 212);
}

.logo-site-img{
    width: 100px;
    margin: 20px;
}

.estrutura-principal {
    margin: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.conteudo-postagem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.estrutura-postagem {
    margin: 10px;
}

.box-chamado{
    margin: 20px;
}

.navbar-menu {
    
}